@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  margin: 0;

}

body {
  height: max-content;
}

header #logo {
  margin-left: 50%
}

@media (max-width:1200px) {

  header #logo {
    margin-left: 40%;


  }
}

* {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  box-sizing: border-box;
}

#cardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
  background-image: url('resimler/cool-background1.png');
  background-size: cover;
  background-position: center;
}

.card {
  position: relative;
  width: 350px;
  height: 225px;
  background-color: #333;
  transition: 0.5s;
}


.card:hover {
  height: 450px;
  width: 700px;


}

@media (max-width:800px) {
  .card:hover {
    height: 470px;
    width: 350px;



  }
}

.card .card-body {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.card .card-body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 900px;
  height: 120px;
  background: linear-gradient(transparent, #ffffff,
      #ffffff, #ffffff, transparent);
  animation: animate 4s linear infinite;


}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

}

.card .card-body::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #000000;
  background-image: url('resimler/cool-background1.png');
  background-repeat: no-repeat;
  background-size: cover;


}

.card .imgBx {
  position: absolute;
  border-radius: 20px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;



}

.card:hover .imgBx {
  width: 250px;
  height: 250px;

}

.card .imgBx::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, #d99a08,
      #d99a08, #d99a08, transparent);
  animation: animate2 6s linear infinite;



}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }


}

.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;


}

.card .imgBx img {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 92%;
  height: 92%;
  width: calc(100% - 20);
  height: calc(100% - 20);
  filter: grayscale(0);
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(140px);

}

.card:hover .content .details {
  transform: translateY(0px);


}

.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #45f3ff;
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 400;
  color: aliceblue;
}

.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card .content .details .data h3 {
  font-size: 1em;
  color: #45f3ff;
  font-weight: 600;
  line-height: 1.5em;
}

.card .content .details .data h3 span {
  font-size: 1.0em;
  font-weight: 400;
  color: #45f3ff;
  padding: 10px;

}

.card .content .details .data h3 span a {
  font-size: 1.0em;
  font-weight: 400;
  color: #45f3ff;
  text-decoration: none;

}

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card .content .details .actionBtn button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background-color: #45f3ff;
  color: #222;
  cursor: pointer;
  opacity: 0.8;


}

.card .content .details .actionBtn button:nth-child(2) {
  background-color: aliceblue;
}

.card .content .details .actionBtn button:hover {
  opacity: 1;
}

@media (max-width:800px) {

  #rowSt {
    display: block;


  }
}

@media (max-width:500px) {
  #aboutBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;

  }

  #aboutBody p {
    margin-top: 20px;
  }
}

#aboutBody {
  height: max-content;


}

.projeler {
  max-height: max-content;
  max-width: max-content;

}

@media (max-width:1500px) {
  .projeler {
    width: 120%;
    flex-wrap: wrap;
    height: 100%;
  }

  .projeler img {
    display: block;
    width: 170%;
    height: 250px;
    height: 200%;
  }

  .projeler p {
    font-size: 50%;


  }

  .projeler .row {
    display: block;
  }

  .projeler .sağaYaklaş {
    width: 120%;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projeler .normal {
    width: 120%;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: left;
    text-align: left;

  }
}

#footerNav {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#footerNav a {
  color: #fff;
}
.offcanvas-body a{
  
  text-align: center;
  font-size: x-large;
  
}
.offcanvas-body a:hover{
  background-color: rgb(240, 186, 87);
 
 
 

}
.offcanvas-body a:active{
  color: green;
  
  
 
}